#navbar
    ul
        li 
            a(href='https://github.com/alu0100697032/ADPR', target='_blank') Github
#analyzer
    textarea#original
    input#PARSE(value="parse" type="button")
    pre#OUTPUT